@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
body{
    margin: 0;
    width: 100%;
    padding: 0px;
    background-color: rgb(0, 0, 0);
    font-family: 'Roboto', sans-serif;
}
.centerText{
    text-align: center;
    padding: 30px;
    margin-bottom: 30px;
    padding: 25px;
    background-color: rgb(0, 0, 0);
    color: rgb(255, 255, 255);
}
.centerText h1{
    font-weight: 300;
}
.gridParent{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-auto-rows: 250px;
    grid-gap: 20px;
    margin: 10px 20px;
}
.card1{
    background: url('https://cdn57.androidauthority.net/wp-content/uploads/2018/09/master-photography.jpg') center / cover;
    width: 100%;
    height: 100%;
    grid-column: 1 / 2;
    grid-row: 1 / 2;
}
.card2{
    background: url('https://www.brides.com/thmb/yOib-Hyp2Up374UkSycmvqF9eLc=/2500x2500/smart/filters:no_upscale()/sq-07f580393a4842c5bb2e1636ed01311e.jpg') center / cover;
    width: 100%;
    height: 100%;
    grid-column: 2 / 3;
    grid-row: 1 / 2;
}
.card3{
    background: url('https://expertphotography.com/wp-content/uploads/2020/07/social-media-for-photographers-follow-1.jpg') center / cover;
    width: 100%;
    height: 100%;
    grid-column: 3 / 4;
    grid-row: 1/3;
}
.card4{ 
    background: url('https://specials-images.forbesimg.com/imageserve/957976460/960x0.jpg?fit=scale') center / cover;
    width: 100%;
    height: 100%;
    grid-row: 2/4;
    grid-column: 1 / 3 ;
}
.card5{
    background: url('https://www.yourfreecareertest.com/wp-content/uploads/2016/07/photographer.jpg') center / cover;
    width: 100%;
    height: 100%;
    grid-column: 3 / 4;
    grid-row: 3 / 4;
}
.card6{
    background: url('https://s3.amazonaws.com/pixpa.com/com/articles/1515135672-shutterstock_284581649.jpg') center / cover;
    width: 100%;
    height: 100%;
    grid-column: 1/2;
    grid-row: 4/7;
}

.card7{
    background: url('https://www.shawacademy.com/assets/course-cards/website/wide/photography-1.png') center / cover;
    width: 100%;
    height: 100%;
    grid-column: 2/4;
    grid-row: 4/6;
}
.card8{
    background: url('https://art-bulat.ru/wp-content/uploads/2017/01/blog-3.jpg') center / cover;
    width: 100%;
    height: 100%;
    grid-column: 2/3;
    grid-row: 6/7;
}
.card9{
    background: url('https://phlearn.com/wp-content/uploads/2018/09/Kawika-Singson-1.jpg?fit=1600%2C1066&quality=99&strip=all') center / cover;
    width: 100%;
    height: 100%;
    grid-column: 3/4;
    grid-row: 6/9;
}
.card10{
    background: url('https://cdn.asiatatler.com/asiatatler/i/th/2019/08/27155441-f-photographer1_cover_1500x1000.jpg') top / cover;
    width: 100%;
    height: 100%;
    grid-column: 1/3;
    grid-row: 7/9;
}
@media screen and (max-width: 1135px){
    .card1{
        grid-column: 1/2;
        grid-row: 1/2;
    }
    .gridParent{
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-auto-rows: 270px;
        grid-gap: 15px;
    }
    .card2{
        grid-column: 2/3;
        grid-row: 1/2;
    }
    .card3{
        grid-column: 3/4;
        grid-row: 1/2;
    }  
    .card4{
        background: url('https://specials-images.forbesimg.com/imageserve/957976460/960x0.jpg?fit=scale') center / cover;
        grid-column: 1/2;
        grid-row: 2/2;
    }
    .card5{
        grid-column: 2/3;
        grid-row: 2/2;
    }  
    .card6{
        grid-column: 3/4;
        grid-row: 2/2;
    }
    .card7{
        grid-column: 1/2;
        grid-row: 3/3;
    }
    .card8{
        grid-column: 2/4;
        grid-row: 3/3;
    }
    .card9{
        grid-column: 1/3;
        grid-row: 4/4;
    }
    .card10{
        grid-column: 3/4;
        grid-row: 4/4;
    }
}

@media screen and (max-width: 800px){
    .centerText h1{
        font-size: 15px;
        margin: 0px;
    }
    .card1{
        background: url('https://cdn57.androidauthority.net/wp-content/uploads/2018/09/master-photography.jpg') center / cover;
        grid-column: 1/4;
        grid-row: 1/2;
    }
    .gridParent{
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-auto-rows: 270px;
        margin: 10px 40px;
        grid-gap: 15px;
    }
    .card2{
        grid-column: 1/4;
        grid-row: 2/2;
    }
    .card3{
        background: url('https://expertphotography.com/wp-content/uploads/2020/07/social-media-for-photographers-follow-1.jpg') center / cover;
        grid-column: 1/4;
        grid-row: 3/3;
    }  
    .card4{
        grid-column: 1/4;
        grid-row: 4/4;
    }
    .card5{
        grid-column: 1/4;
        grid-row: 5/5;
    }  
    .card6{
        grid-column: 1/4;
        grid-row: 6/6;
    }
    .card7{
        grid-column: 1/4;
        grid-row: 7/7;
    }
    .card8{
        grid-column: 1/4;
        grid-row: 8/8;
    }
    .card9{
        grid-column: 1/4;
        grid-row: 9/9;
    }
    .card10{
        grid-column: 1/4;
        grid-row: 10/10;
    }
}
@media screen and (max-width: 650px){
    .centerText{
        font-size: 10px;
        margin: 0px;
    }
    .gridParent{
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-auto-rows: 270px;
        grid-gap: 15px;
        margin: 10px 30px;
    }
}
@media screen and (max-width: 460px){
    .centerText{
        font-size: 8px;
        margin: 0px;
    }
     .gridParent{
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-auto-rows: 270px;
        grid-gap: 15px;
        margin: 8px 15px;
    }
}
@media screen and (max-width: 350px){
    .centerText{
        font-size: 6px;
        margin: 0px;
    }
}